div.contenedorgeneral{

width: 950px;background: green;

margin-left: auto;margin-right: auto

}

div.titulo{

width: 950px;height: 130px;background-image: url(fondo2.jpg);

margin-left: auto;margin-right: auto; float: right

}

div.lista{

width: 180px; height: 400px; background-color:lightblue;

float: left;

}

 

div.interior{

width: 600px; height: 200px; background-color: green;

float: right;

}
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 200%;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	20% {margin-left: -100%;}
	20% {margin-left: -100%;}
	
	20% {margin-left: -200%;}
	20% {margin-left: -200%;}
	
	20% {margin-left: -300%;}
	20% {margin-left: -300%;}
}
.slid {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slid ul {
	display: flex;
	padding: 0;
	width: 200%;
	
	animation: cambio 10s infinite alternate linear;
}

.slid li {
	width: 100%;
	list-style: none;
}

.slid img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	20% {margin-left: -100%;}
	20% {margin-left: -100%;}
	
	20% {margin-left: -200%;}
	20% {margin-left: -200%;}
	
	20% {margin-left: -300%;}
	20% {margin-left: -300%;}
}
.sli {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.sli ul {
	display: flex;
	padding: 0;
	width: 200%;
	
	animation: cambio 10s infinite alternate linear;
}

.sli li {
	width: 100%;
	list-style: none;
}

.sli img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	20% {margin-left: -100%;}
	20% {margin-left: -100%;}
	
	20% {margin-left: -200%;}
	20% {margin-left: -200%;}
	
	20% {margin-left: -300%;}
	20% {margin-left: -300%;}
}
.sl {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.sl ul {
	display: flex;
	padding: 0;
	width: 200%;
	
	animation: cambio 10s infinite alternate linear;
}

.sl li {
	width: 100%;
	list-style: none;
}

.sl img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	20% {margin-left: -100%;}
	20% {margin-left: -100%;}
	
	20% {margin-left: -200%;}
	20% {margin-left: -200%;}
	
	20% {margin-left: -300%;}
	20% {margin-left: -300%;}
}
.s {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.s ul {
	display: flex;
	padding: 0;
	width: 200%;
	
	animation: cambio 10s infinite alternate linear;
}

.s li {
	width: 100%;
	list-style: none;
}

.s img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	20% {margin-left: -100%;}
	20% {margin-left: -100%;}
	
	20% {margin-left: -200%;}
	20% {margin-left: -200%;}
	
	20% {margin-left: -300%;}
	20% {margin-left: -300%;}
}

div.pie{

width: 950px; height: 100px;

background:black;

float: bottom;

}

header{

background: #AFEEEE;

}

nav.n{

background: #AFEEEE;text-align: right;

width: 950px;display: inline-block;

list-style: none;

}

nav.n ul.n{display:inline-block;

text-align: center

}

nav.n ul.n li.n{

display: inline-block;list-style: none;

font-size: 20px

}

nav.n ul.n li.n a.n{

text-decoration: none;color:slateblue;

}

nav ul li{

display: table;list-style: none;

font-size: 20px

}

nav ul li a{

text-decoration: none;

color: black;

}

nav{

background:purple;

width: 180px;

text-align: left;

}

nav.p{

background:gray;width: 950px;

text-align: left;

clear: both;

}

h1.especifico{font-family:fantasy;

color:black;

position: right

}

h1{font-family: Impact;

color:white;

position: right

}

 

li:nth-last-of-type(1) a:hover{

border-bottom: 3px solid black;

}

li:nth-last-of-type(2) a:hover{

border-bottom: 3px solid black;

}

li:nth-last-of-type(3) a:hover{

border-bottom: 3px solid black;

}

li:nth-last-of-type(4) a:hover{

border-bottom: 3px solid black;

}

li:nth-last-of-type(5) a:hover{

border-bottom: 3px solid black;

}

 

li.espe{

display: inline-block;

margin: 7px -2px;

}

 

 

 

 

 

*{

                               padding: 0px;

                               margin: 0px;

                }

 

                #navegacion{

                               margin: auto;

                               width: 500px;

                }

 

                ul, ol{

                               list-style: none;

                }

 

                #Lista li a{

                               background: blue;

                               color: white;

                               text-decoration: none;

                               padding:10px 15px;

                               display: block;

                               border-radius: 10px;

                }

 

                #Lista > li{

                               float: right;

                }

 

                #Lista li a:hover{

                               background:skyblue;

                }

 

                #Lista li ul{

                               display: none;

                               position: absolute;

                }

 

                #Lista li:hover > ul{

                               display: block;

                }

 

                <!-- Esta parte es para una lista desplegable dentro de otra lista desplegable-->

 

                #Lista li ul li{

                               position: relative;

 

                }

 

                #Lista li ul li ul{

                               right: -140px;

                               top: 0px;

                }

 

 

 

 

                #Boton li a{

                               background: skyblue;

                               color: white;

                               text-decoration: none;

                               padding:10px 15px;

                               display: block;

               

                }

 

                #Boton li a:hover{

                               background:black;

                }

 

                #Boton li ul{

                               display: none;

                               position: relative;

                               top:-41px;

                              

                              

                }

 

                #Boton li:hover > ul{

                               display: block;

 

                }

 

                #Boton li ul li{

                               position: absolute;

                               right: -70px;

                }

 

                #Boton li ul li ul{

                               right: -128px;

                               top: 0px;

               

                }